<form class="password-page">
    {{{ title }}}
    {{{ ava }}}
    {{{ oldPassword }}}
    {{{ newPassword }}}
    {{{ newPasswordCopy }}}
    {{{ buttonChange }}}
    {{{ buttonBack }}}
    {{{ link }}}
</form>