<form id="passwordForm">
    {{{ TitlePsw }}}
    {{{ AvaPsw }}}
    {{{ InputOldPsw }}}
    {{{ ErrorPassword }}}
    {{{ InputNewPsw }}}
    {{{ ErrorPasswordCopy }}}
    {{{ InputNewPswCopy }}}
    {{{ ErrorPasswordNewCopy }}}
    {{{ ButtonSave }}}
    {{{ ButtonCancel }}}
    {{{ LinkPsw }}}
</form>
