<form class="profile">
    {{{ title }}}
    {{{ ava }}}
    {{{ firstName }}}
    {{{ secondName }}}
    {{{ login}}}
    {{{ phone }}}
    {{{ email}}}
    {{{ username }}}
    {{{ button }}}
    {{{ link }}}
</form>