<form id="formProfile">
    {{{ TitleProfile }}}
    {{{ AvaProfile }}}
    {{{ InputNameProfile }}}
    {{{ ErrorNameProfile }}}
    {{{ InputSecondNameProfile }}}
    {{{ ErrorSecondNameProfile }}}
    {{{ InputLoginProfile }}}
    {{{ ErrorLoginProfile }}}
    {{{ InputPhoneProfile }}}
    {{{ ErrorPhoneProfile }}}
    {{{ InputMailProfile }}}
    {{{ ErrorMailProfile }}}
    {{{ InputUserProfile }}}
    {{{ ErrorUserProfile }}}
    {{{ ButtonProfile }}} 
    {{{ LinkPasswordChange }}}
    {{{ LinkProfile }}}
    {{{ LinkToMessenger }}}
</form>
