<form id="formProfile">
    {{{ TitleProfile }}}
    <div class="ava__container">
    <input type="file" name="file" title="Сменить аватар" class="ava__input"/>
    {{{ AvaProfile }}}
    </div>
    {{{ InputNameProfile }}}
    {{{ ErrorNameProfile }}}
    {{{ InputSecondNameProfile }}}
    {{{ ErrorSecondNameProfile }}}
    {{{ InputLoginProfile }}}
    {{{ ErrorLoginProfile }}}
    {{{ InputPhoneProfile }}}
    {{{ ErrorPhoneProfile }}}
    {{{ InputMailProfile }}}
    {{{ ErrorMailProfile }}}
    {{{ InputUserProfile }}}
    {{{ ErrorUserProfile }}}
    {{{ ButtonProfile }}} 
    {{{ LinkPasswordChange }}}
    {{{ LinkProfile }}}
</form>
