<form class="form">
    {{{ title }}}
    {{{ inputName }}}
    {{{ inputName2 }}}
    {{{ login }}}
    {{{ phone }}}
    {{{ email }}}
    {{{ password }}}
    {{{ password2 }}}
    {{{ button }}}
    {{{ link }}}
</form>