<form id="formReg">
    {{{ TitleReg }}}
    {{{ InputNameReg }}}
    {{{ ErrorNameReg }}}
    {{{ InputSecondNameReg }}}
    {{{ ErrorSecondNameReg }}}
    {{{ InputLoginReg }}}
    {{{ ErrorLoginReg }}}
    {{{ InputPhoneReg }}}
    {{{ ErrorPhoneReg }}}
    {{{ InputMailReg }}}
    {{{ ErrorMailReg }}}
    {{{ PasswordReg }}}
    {{{ ErrorPasswordReg }}}
    {{{ PasswordCopyReg }}}
    {{{ ErrorPasswordCopyReg }}}
    {{{ ButtonReg }}}
    {{{ LinkReg }}}
</form>
