<div class="chat__card" style={{ active }}>
    <img src={{ ava }} class="chat__card-ava ava_small"/>
    <div class="chat__card-center-block">
        <div class="chat__card-name">{{ name }}</div>
        <div class="chat__card-text">{{ text }}</div>
    </div>
    <div class="chat__card-right-block">
        <div class="chat__card-time">{{ date }}</div>
        <div class="chat__card-queu" style={{ queu }}>{{ amount }}</div>
    </div>
</div>
