<div class="chat">
    <aside class="chat__list">
        <div class="chat__users-mgmt">
            {{{ UsersMgmtLink }}}
        </div>
        <div id="usersMgmt" class="chat__users-mgmt-container">
            {{{ InputNeededChat }}}
            {{{ InputNeededUser }}}
            <div id="BtnNeededUser">{{{ BtnNeededUser }}}</div>
        </div>
        <div id="BtnsToMgmt" class="chat__users-mgmt-btns">
            {{{ BtnToRemove }}}
            {{{ BtnToAdd }}}
        </div>
        <div class="chat__links-container">
            <div>{{{ NewChatLink }}}</div>
            <div>{{{ LinkChat }}}</div>
        </div>
        <div id="titleForChat" class="chat__new-title">
            {{{ InputNewChatName }}}
            {{{ CreateChatButton }}}
        </div>
        <div class="chat__search">
            <input type="text" class="chat__search-input" placeholder="Поиск...">
            <span class="chat__search-lense">&#128269;</span>
        </div>
        <div class="chat__cards">
            {{ ResultCards }}
                {{!-- {{#each ResultCards}}
                    {{{this}}}
                {{/each}} --}}
        </div>
    </aside>
    <main class="main">
        <header class="main__header">
            <div class="main__ava">{{{ AvatarChat }}}</div>
            <span class="main__name"> {{{ SubtitleChat }}}</span>
            <span class="main__menu" title="Меню">&#9776;</span>
        </header>
        <div class="main__chat" id="mainChat">
            {{{ ErrorMessageChat }}}
            {{{ MessageCards }}}
        </div>
        <footer class="main__footer">
            <div class="main__footer-container">
                <span class="main__add-file" title="Прикрепить файл">&#128206;</span>
                <div class="main__input-container"> {{{ InputMessageChat }}}</div>
                <span class="main__send" title="Отправить сообщение">&#10004;</span>
            </div>
        </footer>
    </main>
</div>
