<div class="chat">
    <aside class="chat__list">
        <a class="chat__link" href="/profile">Профиль&nbsp;&#10139;</a>
        <div class="chat__search">
            <input type="text" class="chat__search-input" placeholder="Поиск...">
            <span class="chat__search-lense">&#128269;</span>
        </div>
        <div class="chat__cards">
            <div class="chat__card">
                <div class="chat__card-ava">{{{ ava }}}</div>
                <div class="chat__card-center-block">
                    <div class="chat__card-name">Гомер</div>
                    <div class="chat__card-text">М-м-м-м... пончики</div>
                </div>
                <div class="chat__card-right-block">
                    <div class="chat__card-time">20.02.2023</div>
                    <div class="chat__card-queu">2</div>
                    <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
                </div>
            </div>
            <div class="chat__card chat__card_active">
                <div class="chat__card-ava">{{{ ava }}}</div>
                <div class="chat__card-center-block">
                    <div class="chat__card-name">Гомер</div>
                    <div class="chat__card-text">М-м-м-м... пончики</div>
                </div>
                <div class="chat__card-right-block">
                    <div class="chat__card-time">20.02.2023</div>
                    {{!-- <div class="chat__card-queu">2</div> --}}
                    <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
                </div>
            </div>
            <div class="chat__card">
                <div class="chat__card-ava">{{{ ava }}}</div>
                <div class="chat__card-center-block">
                    <div class="chat__card-name">Гомер</div>
                    <div class="chat__card-text">М-м-м-м... пончики</div>
                </div>
                <div class="chat__card-right-block">
                    <div class="chat__card-time">20.02.2023</div>
                    <div class="chat__card-queu">99+</div>
                    <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
                </div>
            </div>
            <div class="chat__card">
                <div class="chat__card-ava">{{{ ava }}}</div>
                <div class="chat__card-center-block">
                    <div class="chat__card-name">Гомер</div>
                    <div class="chat__card-text">М-м-м-м... пончики</div>
                </div>
                <div class="chat__card-right-block">
                    <div class="chat__card-time">20.02.2023</div>
                    {{!-- <div class="chat__card-queu">2</div> --}}
                    <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
                </div>
            </div>
            <div class="chat__card">
                <div class="chat__card-ava">{{{ ava }}}</div>
                <div class="chat__card-center-block">
                    <div class="chat__card-name">Гомер</div>
                    <div class="chat__card-text">М-м-м-м... пончики</div>
                </div>
                <div class="chat__card-right-block">
                    <div class="chat__card-time">20.02.2023</div>
                    <div class="chat__card-queu">5</div>
                    <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
                </div>
            </div>
            <div class="chat__card">
                <div class="chat__card-ava">{{{ ava }}}</div>
                <div class="chat__card-center-block">
                    <div class="chat__card-name">Гомер</div>
                    <div class="chat__card-text">М-м-м-м... пончики</div>
                </div>
                <div class="chat__card-right-block">
                    <div class="chat__card-time">20.02.2023</div>
                    {{!-- <div class="chat__card-queu">2</div> --}}
                    <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
                </div>
            </div>
            <div class="chat__card">
                <div class="chat__card-ava">{{{ ava }}}</div>
                <div class="chat__card-center-block">
                    <div class="chat__card-name">Гомер</div>
                    <div class="chat__card-text">М-м-м-м... пончики</div>
                </div>
                <div class="chat__card-right-block">
                    <div class="chat__card-time">21.02.2023</div>
                    {{!-- <div class="chat__card-queu">2</div> --}}
                    <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
                </div>
            </div>
            <div class="chat__card">
                <div class="chat__card-ava">{{{ ava }}}</div>
                <div class="chat__card-center-block">
                    <div class="chat__card-name">Гомер</div>
                    <div class="chat__card-text">М-м-м-м... пончики</div>
                </div>
                <div class="chat__card-right-block">
                    <div class="chat__card-time">20.02.2023</div>
                    {{!-- <div class="chat__card-queu">2</div> --}}
                    <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
                </div>
            </div>
            <div class="chat__card">
                <div class="chat__card-ava">{{{ ava }}}</div>
                <div class="chat__card-center-block">
                    <div class="chat__card-name">Гомер</div>
                    <div class="chat__card-text">М-м-м-м... пончики</div>
                </div>
                <div class="chat__card-right-block">
                    <div class="chat__card-time">20.02.2023</div>
                    <div class="chat__card-queu">2</div>
                    <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
                </div>
            </div>
    </aside>
    <main class="main">
        <header class="main__header">
            <div class="main__ava">{{{ ava }}}</div>
            <span class="main__name">Гомер</span>
            <span class="main__menu" title="Меню">&#9776;</span>
        </header>
        <div class="main__chat">
            <span class="main__date">05.07.2023</span>
            <span class="main__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem veritatis eveniet?<span class="main__time">12:02</span></span>
            <span class="main__text main__text_right">Lorem ipsum dolor sit amet.<span class="main__time">12:03</span></span>
            <span class="main__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A enim eligendi magnam, rerum, incidunt voluptatibus ratione voluptatum, tenetur soluta nam sapiente qui ab beatae repudiandae numquam vero atque cum? Eligendi dolorum necessitatibus, repudiandae cum sed blanditiis explicabo, totam voluptates ipsa deserunt esse dolore temporibus, vitae saepe sunt id.<span class="main__time">12:04</span></span>
            <span class="main__text main__text_right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim placeat officia perspiciatis ab, aut neque ipsam ex necessitatibus. Non, suscipit! Doloribus.<span class="main__time">12:05</span></span>
            <span class="main__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, eum.<span class="main__time">12:06</span></span>
            <span class="main__text main__text_right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ab distinctio obcaecati?<span class="main__time">12:07</span></span>
            <span class="main__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ea quas! Aperiam dolor esse laudantium quidem eius cumque odit neque numquam optio tenetur. Nam enim minus totam repellendus cumque? Ducimus quam nostrum assumenda molestiae facilis perferendis facere id quis velit illum.<span class="main__time">12:08</span></span>
            <span class="main__text main__text_right">Lorem, ipsum dolor.<span class="main__time">12:09</span></span>
            <span class="main__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, optio magnam?<span class="main__time">12:10</span></span>
            <span class="main__text main__text_right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ab distinctio obcaecati?<span class="main__time">12:11</span></span>
            <span class="main__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ea quas! Aperiam dolor esse laudantium quidem eius cumque odit neque numquam optio tenetur. Nam enim minus totam repellendus cumque? Ducimus quam nostrum assumenda molestiae facilis perferendis facere id quis velit illum.<span class="main__time">12:12</span></span>
            <span class="main__text main__text_right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ab distinctio obcaecati?<span class="main__time">12:13</span></span>
            <span class="main__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ea quas! Aperiam dolor esse laudantium quidem eius cumque odit neque numquam optio tenetur. Nam enim minus totam repellendus cumque? Ducimus quam nostrum assumenda molestiae facilis perferendis facere id quis velit illum.<span class="main__time">12:14</span></span>
            <span class="main__text main__text_right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ab distinctio obcaecati?<span class="main__time">12:15</span></span>
            <span class="main__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ea quas! Aperiam dolor esse laudantium quidem eius cumque odit neque numquam optio tenetur. Nam enim minus totam repellendus cumque? Ducimus quam nostrum assumenda molestiae facilis perferendis facere id quis velit illum.<span class="main__time">12:16</span></span>
            <span class="main__text main__text_right">Lorem, ipsum dolor.<span class="main__time">12:17</span></span>
            <span class="main__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, optio magnam?<span class="main__time">12:18</span></span>
            <span class="main__text main__text_right">Lorem ipsum dolor sit amet.<span class="main__time">12:19</span></span>
            <span class="main__text main__text_right">М-м-м-м... пончики<span class="main__time">12:20</span></span>
        </div>
        <footer class="main__footer">
            <div class="main__footer-container">
                <span class="main__add-file" title="Прикрепить файл">&#128206;</span>
                <input type="text" placeholder="Введите сообщение" class="main__input-text" autofocus>
                <span class="main__send" title="Отправить сообщение">&#10004;</span>
            </div>
        </footer>
    </main>
</div>
